<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akhdmny.driver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".LocaleHelper"
        android:theme="@style/AppTheme">


        <activity android:name=".Splash.Splash_screen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".FireBaseNotification.FCM_service">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".Authenticate.login"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akhdmny.driver.Authenticate.Registration"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.akhdmny.driver.Authenticate.Verification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
            android:name=".Service.TrackerService"
            android:enabled="true"
            android:exported="false"
           >
        </service>

        <activity android:name="com.akhdmny.driver.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.akhdmny.driver.Activities.OrderDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.akhdmny.driver.Activities.AcceptOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Activities.EnlargeImageView"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity android:name="com.akhdmny.driver.Fragments.DriverOrders"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.akhdmny.driver.Activities.Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name="com.akhdmny.driver.Activities.DefaultMessagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name="com.akhdmny.driver.Activities.DefaultDialogsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name="com.akhdmny.driver.Activities.MyCart"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name="com.akhdmny.driver.Activities.Chat"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name="com.akhdmny.driver.Activities.ParcelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.akhdmny.driver.Activities.CategoryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.akhdmny.driver.MainActivity" />
        </activity>

    </application>

</manifest>